.formlist{padding-bottom:150px; background-size:200px;}
.formlist ul li{margin-bottom:15px; position:relative; padding:0 0 0 150px;}
.formlist ul li label{display:block; width:150px; position:absolute; left:0; top:0; font-size:14px; color:#555;}
.formlist ul li label sup{color:#ea657b;}
.formlist ul li span{display:block;}
.formlist ul li .inputbox{width:100%; height:40px; border:solid 1px #ddd; background:#fff;}
.formlist ul li .textbox{width:100%; height:200px; border:solid 1px #ddd; background:#fff;}
.formlist ul li input,.formlist ul li textarea{width:100%; height:100%;}
.btn_box{width:100%; margin-top:20px; text-align:center;}
.gform {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}